body{
  background-color: #202020;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  background: url("https://itsnota.club/pllntrs/web-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header img{
width: 75%;

}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #202020;
  color: white;
  text-align: right;
  border-top: 7px solid #000;
}
.footer p{
  width: 95%;
}
h1 {
  margin: 5px;
}
a {
  color: #fff;
text-decoration: underline;
}
.main {
  border-radius: var(--border-radius);
  background: linear-gradient(-67deg, rgba(#c8d8e7, .7), rgba(255,255,255,.8));
  overflow: hidden;
  box-shadow: 
    -2px -2px 6px rgba(#fff, .6),
    2px 2px 12px #c8d8e7;

  padding: 16px 16px;
  background-color: #e2e9f4;
  border-radius: var(--border-radius);
}

.mintLinks{
  background-color: rgba(43, 43, 43, 0.5);
  border: 1px solid #333333 ;
  width: 200px;
  margin-top: 25px;
}


.button {
  align-items: center;
  background: #f5f5fa;
  border: 0;
  border-radius: 8px;
  box-shadow: -10px -10px 30px 0 #fff,10px 10px 30px 0 #1d0dca17;
  box-sizing: border-box;
  color: #2a1f62;
  cursor: pointer;
  display: flex;
  font-family: "Cascadia Code",Consolas,Monaco,"Andale Mono","Ubuntu Mono",monospace;
  font-size: 1rem;
  justify-content: center;
  line-height: 1.5rem;
  padding: 15px;
  position: relative;
  text-align: left;
  transition: .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  width: max-content;
  word-break: normal;
  word-spacing: normal;
}

.button:hover {
  background: #f8f8ff;
  box-shadow: -15px -15px 30px 0 #fff, 15px 15px 30px 0 #1d0dca17;
}



#background-wrap {
  bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: -1;
}

#background-wrap video{
height: auto;
width: 100%;
}

@media screen and (max-width: 1200px) {
  #background-wrap video{
    height: 100%;
    width: auto;
    }

    #background-wrap {
      bottom: 0;
    position: fixed;
    top: 0;
    z-index: -1;
    }
}


/* play/pause */
button.play-pause-btn {
  background-color: #8d1414;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #000000;
  cursor: pointer;
  font-size: .95rem;
  height: 35px;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 35px;
  margin: 10px;
  bottom: 0;
  right: 0;
  z-index: 100;
  position: fixed;
}

button.play-pause-btn:hover {
  color: #fff;
}

button.play-pause-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

button.play-pause-btn:active {
  transform: scale(0.9);
}

button.play-pause-btn .play-icon {
  display: block;
}

button.play-pause-btn .pause-icon {
  display: none;
}

button.play-pause-btn.playing .play-icon {
  display: none;
}

button.play-pause-btn.playing .pause-icon {
  display: block;
}

button.play-pause-btn .play-icon:before {
  content: "►"; /* Font Awesome play icon */
  margin-left: 4px;
}

button.play-pause-btn .pause-icon:before {
  content: "II"; /* Font Awesome pause icon */
}


