body{
  background-color: #202020;
  color: #717171;
  font-family: "Lucida Console", "Courier New", monospace;
  background: url("https://itsnota.club/pllntrs/web-bg.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.header img{
width: 75%;

}
.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #202020;
  color: white;
  text-align: right;
  border-top: 7px solid #000;
}
.footer p{
  width: 95%;
}
h1 {
  margin: 5px;
  padding: 5px;
}
a {
  color: #6b3dbc;
text-decoration: underline;
}
p{
  margin: 0;
}
.main {
border-radius: 25px;
overflow: hidden;
background-color: rgba(255, 255, 255, 0.75);
border: 2px solid #e5e5e5 ;
width: 50%;
padding: 10px;
margin: 10px;
position: relative;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

@media only screen and (max-width: 600px) {
  .main {
width: 90%;
padding: 5px;
  }
}
.desc{
  text-align: left;
  border: 2px solid #e5e5e5;
  padding: 5px;
  border-radius: 15px;

}

.mintLinks{
  background-color: rgba(255, 255, 255, 0.75);
  border: 2px solid #e5e5e5 ;
  width: 200px;
  margin-top: 25px;
  border-radius: 25px;
  position: relative;
padding: 9px;
box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
font-size: 9px;
}


.button {
  font-family: "Lucida Console", "Courier New", monospace;
  width: 150px;
	height: 30px;
	cursor: pointer;
	background: rgba(255, 255, 255, 0.5);
	margin: 15px;
	border: none;
	border-radius: 25px;
	box-shadow: -5px -5px 10px #f1f1f1, 5px 5px 10px #a3a3a3, inset 5px 5px 10px #f1f1f1, inset -5px -5px 10px #a3a3a3;
	color: #717171;
	font-size: 16px;
  cursor: pointer;
  justify-content: center;
  transition: .15s;
}

.button:hover {
  box-shadow: -5px -5px 10px #f1f1f1, 5px 5px 10px #a3a3a3, inset 5px 5px 10px #a3a3a3, inset -5px -5px 10px #f1f1f1;
	font-size: 15px;
	transition: 500ms;
}



#background-wrap {
  bottom: 0;
left: 0;
position: fixed;
right: 0;
top: 0;
z-index: -1;
}

#background-wrap video{
height: auto;
width: 100%;
}

@media screen and (max-width: 1200px) {
  #background-wrap video{
    height: 100%;
    width: auto;
    }

    #background-wrap {
      bottom: 0;
    position: fixed;
    top: 0;
    z-index: -1;
    }
}


/* play/pause */
button.play-pause-btn {
  background-color: #f1f1f1;
  border: none;
  border-radius: 50%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #000000;
  cursor: pointer;
  font-size: .95rem;
  height: 35px;
  outline: none;
  transition: all 0.2s ease-in-out;
  width: 35px;
  margin: 10px;
  bottom: 0;
  right: 0;
  z-index: 100;
  position: fixed;
}

button.play-pause-btn:hover {
  color: #fff;
}

button.play-pause-btn:focus {
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
}

button.play-pause-btn:active {
  transform: scale(0.9);
}

button.play-pause-btn .play-icon {
  display: block;
}

button.play-pause-btn .pause-icon {
  display: none;
}

button.play-pause-btn.playing .play-icon {
  display: none;
}

button.play-pause-btn.playing .pause-icon {
  display: block;
}

button.play-pause-btn .play-icon:before {
  content: "►"; /* Font Awesome play icon */
  margin-left: 2px;
}

button.play-pause-btn .pause-icon:before {
  content: "⏽︎⏽︎"; /* Font Awesome pause icon */
}


